@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Issabek
                    <br />
                    <br />
                    Omarov
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    *Some pity lorem*
                </p>
                <p>
                    <a href="https://youtu.be/37WFJexHfSQ" class="stretched-link">10 Hours of SpongeBob that wants to work</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the completed project from GitHub.
                </p>
                <p>
                    <a href="https://github.com/Issabek/TestApp" class="stretched-link">See project source code</a>
                </p>
            </div>
        </div>
    </div>
</div>